
applicationinsights==0.11.9
atomicwrites==1.3.0
attrs==18.2.0
backcall==0.1.0
bleach==3.1.0
bravado==10.3.0
bravado-core==5.10.1
cachetools==3.0.0
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-conf==0.0.1
click-stream==0.0.10
cloudpickle==1.2.2
colorama==0.4.1
contextlib2==0.5.5
dash-core-components==1.5.1
dash-html-components==1.0.2
dash-renderer==1.2.1
decorator==4.3.0
defusedxml==0.6.0
docopt==0.6.2
elasticsearch==7.0.5
elasticsearch-loader==0.5.1
entrypoints==0.3
Flask==1.0.2
Flask-Compress==1.4.0
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
gym==0.15.4
h5py==2.10.0
idna==2.8
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==0.24
jedi==0.15.1
Jinja2==2.10
jmespath==0.9.3
jsonpointer==2.0
jsonref==0.2
jsonschema==3.0.0
Keras-Preprocessing==1.1.0
MarkupSafe==1.0
mistune==0.8.4
monotonic==1.5
more-itertools==6.0.0
msgpack-python==0.5.6
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.2
ngrok==0.0.1
notebook==6.0.1
npm==0.1.1
numpy==1.15.2
selenium==3.141.0
opencv-python==4.1.1.26
optional-django==0.1.0
paho-mqtt==1.3.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.5.1
pbr==5.1.2
pickleshare==0.7.5
pipdeptree==0.13.2
plotly==4.3.0
pluggy==0.8.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
py==1.8.0
pyaml==19.4.1
pycparser==2.19
pyglet==1.3.2
Pygments==2.4.2
PyJWT==1.7.1
pykwalify==1.7.0
pyrsistent==0.14.11
pytest==4.3.0
requests==2.21.0
rfc3987==1.3.8
scipy==1.1.0
simplejson==3.16.0
six==1.11.0
sqlitedict==1.6.0
stevedore==1.30.0
strict-rfc3339==0.7
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
urllib3==1.24.1
virtualenv==16.4.1
wcwidth==0.1.7
webcolors==1.8.1
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1